# Ignore all env files
*.env

# Ignore all common env files
.env.local
.env.*.local
apps/ngnix-proxy-manager/data
apps/wireguard/config
apps/wireguard/db
apps/wg-portal/data/wg_portal.db
apps/ngnix-proxy-manager/letsencrypt/renewal/npm-1.conf
apps/ngnix-proxy-manager/letsencrypt/credentials/credentials-1
